
body {
	background:#fff;
	color:#000;
	font-size: 100%;
	line-height: 1.5;
}

body,ol,ul,li {
	margin:0;
}

body,h6,h5,h4,h3,h2,li,p {
	font-family: Georgia,serif;
	/*font-family: "Myriad Pro","HelveticaNeue-Light", Calibri, Arial,sans-serif;*/
	font-weight:normal;
	padding:0;
	margin-top: 0;
}
h1 {
	font-family: "Futura", "Gill Sans MT", Georgia, serif;
	font-weight: normal;
	margin-top: 0;	
}
h2 {
	font-size: 1.4em;
	font-family: Georgia, serif;
}
p, li, ul, ol, a {
	font-size:1em;
}
li,ul,ol {
	list-style-type:none;
	padding:0
}

a, a:link,a:hover, li,ul,ol {
	text-decoration:none
	}
	a,a:link {
		color:black;
		text-decoration:none;
		}
		a:hover {
		color:#ff1493;
		text-decoration:none;
		}

