
#ftv {
	color: black;
	left:0px;
	padding:0;
	margin:60px 0 0;
	width: 100%
	}
.sidebar {
	min-width:160px;
	width:20%;
	margin: 0;
	background-color: white;
}
/* appearing in final? */
#content {
	width: 75%;
	max-width: 1060px;
	padding-bottom: 60px:
	text-align:left;
	margin-right: 2em;
	min-height: 350px
}

#header {
	background-color:black;
	width:100%;
	height:60px;
	top:0;
	position:fixed;
	display: inline;
}
#footer {
   	width:100%;
   	height:60px;  
   	float: left;
   	display: block;
}
#ftv,#toc a:link,.clearfix:after {
	display:block
}

#ftv,#header {
	left:0
}

body {
	background:#fff;
	color:#000
}

body,ol,ul,li {
	margin:0
}

body,h6,h5,h4,h3,h2,h1,ul,li,p {
	font-family:"Myriad Pro","HelveticaNeue-Light",Helvetica,Arial,sans-serif;
	padding:0
}
h1 {
	font-weight:bold;
	margin-top: 0;
}
body,h6,h5,h4,h3,h2,ol,ul,li {
	font-weight:normal;
	padding:0
}
li,ul,ol {
	list-style-type:none;
	padding:0
}
.sidebar,#content,#header,#logo, #toc, #toc li {
	float:left;
}

.logo {
	background:transparent url(../images/logo_raspberry_grey_w150h250.png) repeat-x;
	width:150px;
	height:250px;
	margin-left:1em;
	margin-top:1em

}
.logospace {
	height: 0px;
}
#content,#toc a:link {
	background:transparent;
}

#toc ul{
	font-size: 15px;
	
}
#toc a:hover,#toc a:link,#toc a,#toc a:link {
	color:#fff
}

#toc a:link {
	background:transparent;
	display:block
}

#toc a:link {
	text-align:left;
	padding-left:0.5em;
	padding-right: 2.5em;
	padding-top: 21px;
	padding-bottom: 19px;
}

a:link,li,ul,ol {
	text-decoration:none
}

#toc a:hover {
	background:rgba(153,153,153,0.5);
}
#textlogo {
	background:transparent url(../images/text_logo_whiteline_w135h60.png) repeat-x;
	width:135px;
	height:60px;
	margin-left:2em;
	float: left;
	padding:0
}
.headerleft {
	float: left;
	min-width: 180px;
	width: 20%;
}

.pagetitle {
	padding-top: 2em;
	padding-bottom:1em;
}

#footer a{
	width: 32px;
	float: left;
	margin-right: 0.5em;
}
#contactbuttons {
	margin-left: 20%;
	padding-top: 1em;
}
.clearfix:before,
.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after {
    clear:both;
}
/* For IE 6/7 (trigger hasLayout) */
.clearfix {
    zoom:1;
}