
#ftv {
	color: black;
	left:0px;
	padding:0;
	margin:60px 0 0;
	width: 100%;
	height: 100%;
	}

#ftv,#toc a:link,.clearfix:after {
	display:block
}

#ftv,#header {
	left:0
}

body {
	background:#fff;
	color:#000
}

body,ol,ul,li {
	margin:0
}

body,h6,h5,h4,h3,h2,h1,ul,li,p {
	font-family:"Myriad Pro","HelveticaNeue-Light",Helvetica,Arial,sans-serif;
	padding:0
}
h1 {
	font-weight:bold;
	margin-top: 0;
}
body,h6,h5,h4,h3,h2,ol,ul,li {
	font-weight:normal;
	padding:0
}
li,ul,ol {
	list-style-type:none;
	padding:0
}
.sidebar,#content,#header,#logo,#toc li {
	float:left;
}
.sidebar {
	width:20%;
	height:100%;
	margin: 0;
	background-color: white;
}
.logo {
	background:transparent url(../images/logo_pink_lj_w150h250.jpg) repeat-x;
	width:150px;
	height:250px;
	margin-left:1em;
	margin-top:1em

}
.logospace {
	height: 0px;
}
#content,#toc a:link {
	background:transparent;
}

#content {
	width:80%;
	margin-bottom:40px;
	text-align:left;
}

#header {
	background-color:black;
	width:100%;
	height:60px;
	top:0;
	position:fixed;
	display: inline;
}
#toc ul{
	font-size: 15px;
	
}
#toc {
	float: left;
}

#toc a:hover,#toc a:link,#toc a,#toc a:link {
	color:#fff
}

#toc a:link {
	background:transparent;
	display:block
}

#toc a:link {
	text-align:left;
	padding-left:10px;
	padding-right: 40px;
	padding-top: 21px;
	padding-bottom: 19px;
}

#toc a:link,li,ul,ol,#toc a:link {
	text-decoration:none
}

#toc a:hover {
	background:rgba(153,153,153,0.5);
}
#textlogo {
	background:transparent url(../images/text_logo_whiteline_w135h60.png) repeat-x;
	width:135px;
	height:60px;
	margin-left:2em;
	float: left;
	padding:0
}
.headerleft {
	float: left;
	width: 20%
}
.pagecontent {
	width: 100%;
}
.pagetitle {
	height: 150px;
	padding-top: 2em;
}

.clearfix:after {
	content:".";
	visibility:hidden;
	height:0;
	clear:both
}