{% extends "wineries/base.html" %}
<head>
{% block title %}For The Vin - Page Not Found{% endblock %}	
{% load static %}
<link rel="stylesheet" href="{% get_static_prefix %}css/ftvbase.css" type="text/css" media="screen" />

<body>
{% block content %}
<div class="pagecontent">
	<div class="titlecontainer">
<h1>Page not found</h1>
<p>Sorry, but I couldn't find that page.</p>
</div>
<div id = "noidea">
<img src="{% get_static_prefix %}images/no-idea-what-im-doing-dog_w500h383.jpg" alt="I Have No Idea What I'm Doing" width="500" height="383" />
</div>
</div>
{% endblock %}
</body>