<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>{% block title %}For The Vin{% endblock %}</title>
	{% load static %}
	<link rel="stylesheet" href="{% get_static_prefix %}css/base.css" type="text/css" media="screen" >
	<link rel="stylesheet" href="{% get_static_prefix %}css/formatting.css" type="text/css" media="screen" >
	<!--[if (IE 6)|(IE 7)]>
	<link rel="stylesheet" href="{% get_static_prefix %}css/base_ie67.css" type="text/css" media="screen">
	<![endif]-->
	<link rel="shortcut icon" href="{% get_static_prefix %}images/favicon_scenery.ico" type="image/x-icon" >
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="Keywords" content="wineries,tour, Napa, wine" />
	<meta name="Description" content="For The Vin helps you find Napa wineries based on the wines you like." />

	<style type="text/css">{% block addheadinfo %}{% endblock %}</style>
	
	<script type="text/javascript">
	
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-28380444-1']);
	  _gaq.push(['_setDomainName', 'forthevin.com']);
	  _gaq.push(['_trackPageview']);
	
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	
	</script>

</head>

<body>

<div id = "ftv">
	<div id="header">
		<div class = "headerleft">
			<a href="/" title="For The Vin's Home" id="textlogo"></a>
		</div>
		<div id="toc">
			<ul>
				<li><a href="/" title="Home" alt = "Home" id="home"></a></li>
				<li><a href="/varietals/" title="Varietals" alt="Varietals" id="varietals"></a></li>
				<li><a href="/wineries/" title="Wineries" alt="Wineries" id="wineries"></a></li>
				<li><a href="http://blog.forthevin.com" title="Blog" alt="Blog" id="blog" target = "_blank"></a></li>
			</ul>
		</div>			
	</div>
	<div class="sidebar">
		<div class="logospace">&nbsp;</div>
		<div class="logo"></div>
	</div>
	<div id="content">
	{% block content %}{% endblock %}
	</div>
	<div id="footer">
		<div id="contactbuttons">
		<a href="https://www.facebook.com/forthevin" title="For The Vin" alt="For The Vin on facebook" id = "facebook" target="_blank"></a>
		<!--<a href="http://www.linkedin.com/in/laujohnson" target="_top" title = "Me on LinkedIn"><img src="http://www.linkedin.com/img/webpromo/btn_in_20x15.png" width="20" height="15" alt="View Laura Johnson's LinkedIn profile"></a>-->
		</div>	
	</div>
</div>
</body>
</html>