<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>{% block title %}For The Vin{% endblock %}</title>
	{% load static %}
	<link rel="stylesheet" href="{% get_static_prefix %}css/ftvbase.css" type="text/css" media="screen" >
	<!--[if (IE 6)|(IE 7)]>
	<link rel="stylesheet" href="{% get_static_prefix %}css/ftvbase_ie67.css" type="text/css" media="screen">
	<![endif]-->
	<link rel="shortcut icon" href="{% get_static_prefix %}images/favicon_scenery.ico" type="image/x-icon" >
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="Keywords" content="wineries,tour, Napa, wine" />
	<meta name="Description" content="For The Vin helps you find Napa wineries based on the wines you like." />

	<style type="text/css">{% block addheadinfo %}{% endblock %}</style>
	<script type="text/javascript">
	
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-28380444-1']);
	  _gaq.push(['_setDomainName', 'forthevin.com']);
	  _gaq.push(['_trackPageview']);
	
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	
	</script>

</head>

<body>

<div id = "ftv">
	<div id="header">
		<div class = "headerleft">
			<a href="/" title="For The Vin's Home" id="textlogo"></a>
		</div>
		<div id="toc">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/varietals/">Varietals</a></li>
				<li><a href="/wineries/">Wineries</a></li>
				<li><a href="http://blog.forthevin.com" target = "_blank">Blog</a></li>
			</ul>
		</div>			
	</div>
	<div class="sidebar">
		<div class="logospace">&nbsp;</div>
		<div class="logo"></div>
	</div>
	<div id="content">
	{% block content %}{% endblock %}
	</div>
	<div id="footer">
		<div id="contactbuttons">
		<a href="https://www.facebook.com/forthevin" TARGET="_blank"><img src="http://www.buttonshut.com/Facebook-Buttons/Facebook-Buttons-24-88-.png" title="For The Vin on facebook" alt = "Link to facebook" width="32px" border="0"/></a>
		<a href="http://www.linkedin.com/in/laujohnson" TARGET="_blank"><img src="http://www.buttonshut.com/LinkedIn-Buttons/linkedin-tiny-square2.png" title="Me on LinkedIn" alt = "Link to Linkedin" width="32px" border="0"/></a>
		</div>	
	</div>
</div>
</body>
</html>