{% extends "wineries/base.html" %}
<head>
{% block title %}For The Vin - Winery Details{% endblock %}
{% block addheadinfo %}	
<style type="text/css">
body {
	background-color: #FFFFFF; 
	font-family: Arial, Helvetica, sans-serif;
	}
ul, ol {
	font-family: Arial, Helvetica, sans-serif; 
	list-style-type: none; 
	padding-left: 0; 
	margin-left: 0
	}
</style>
{% endblock %}
</head>
	
<body>	
{% block content %}
	<div id="detail">
		<h1>{{ winery.name }}</h1>
		<h2>Address</h2>
		<ol>
			<li>{{ winery.address1 }}</li>
			<li>{{ winery.address2 }}</li>
			<li>{{ winery.city }}</li>
			<li>{{ winery.state }}</li>
			<li>{{ winery.zip }}</li>
		</ol>
		<h2>Wines</h2>
		<ul>
		{% for wine in winery.wines.all %}
		<li>{{ wine }}</li>
		{% endfor %}
		</ul>
		</div><!-- close div detail -->
{% endblock %}

</body>