{% extends "wineries/base.html" %}
<head>
{% block title %}For The Vin - Coming Soon{% endblock %}
{% block addheadinfo %}	
{% load static %}
<link rel="stylesheet" href="{% get_static_prefix %}css/ftvbase.css" type="text/css" media="screen" />
<style type="text/css">

.columns {
	display: inline;
}
.linkmats {
	float: left;
	width:250px;
	height:250px;
	margin-right:50px;
	width: 250px;
	height: 250px;
}
a:link {
	text-decoration:none;
}
a,a:link {
	color:black
}
a:hover {
	color:#ff1493;
}

</style>
{% endblock %}
</head>

<body>
{% block content %}
<div class="pagecontent">
<div class="pagetitle">
	<h1>Planning a trip to Napa but don't know which wineries to visit? <br /> We can help.</h1>
	<h2>Search by:</h2>
</div>
<div class="columns">
	<div class="linkmats">		
		<a href="/varietals/" title="Varietals" id="varietalsmat">
			<h2>Wine Varietal</h2>
			<p>Click here to see the wineries that are good for the wines you like.</p>
		</a>
	</div>	
	<div class="linkmats">		
		<a href="/wineries/" title="Wineries" id="wineriesmat">
			<h2>Winery</h2>
			<p>Click here to learn about the wineries and the wines they produce. I'll add more to our list of wineries soon.</p>
		</a>
	</div>
</div>	
{% endblock %}
</div>
</body>