{% extends "wineries/base.html" %}
<head>
{% block title %}For The Vin - List of Varietals{% endblock %}
{% block addheadinfo %}	
<style type="text/css">

#title {
	margin:0 auto;
}

.column {
	float:left; 
	width:33%;
	margin-bottom: 10px;
	min-height: 260px;
}

</style>
{% endblock %}
</head>
	
<body>	


{% block content %}
<div class="pagecontent">
	<div class="titlecontainer">
		<div id = "title">
			<h1>Varietals</h1>
			<h2>Click on a varietal to see which wineries are good for that varietal</h2></div>
	</div>
	

{% if varietals %}
    {% for varietal in varietals %}
    	<div class="color">
    		{{ color.name }}
    	</div>  
    {% endfor %}
    {% else %}
    <p>No colors are available.</p>
{% endif %}

{% if varietals_list %}
    {% for varietal in varietals_list %}   
    	<div class="varietal">
    		<a href="/varietals/{{ varietal.color.name }}/{{ varietal.slug }}/">{{ varietal.name }}</a>
    	</div>
    {% endfor %}
	{% else %}
    <p>No varietals are available.</p>
{% endif %}

</div>
</div>
{% endblock %}
</body>
	
