{% extends "wineries/base.html" %}
<head>
{% block title %}For The Vin - Winery Details{% endblock %}
{% block addheadinfo %}	
<style type="text/css">
body {
	background-color: #FFFFFF; 
	font-family:"HelveticaNeue-Light","Helvetica Neue Light",Helvetica,Arial,sans-serif;
	font-weight:normal
	}
a, a:link {
	color:black
	}
	a:link {
	display:block;
	text-align:left;
	text-decoration:none
	}
	a:hover {
	color:#FF1493
	}

.column {
	float:left; 
	width:33%;
	margin-bottom: 40px;
}
</style>
{% endblock %}
</head>
	
<body>	
{% block content %}
<div class="pagecontent">
	<div class="pagetitle">
	<h1>Wineries Good For {{ varietal.name }}</h1>
	</div>
{% if varietal.winery_set.all %}

	    <!-- a forloop to limit the rows in a list-->
    {% for winery in varietal.winery_set.all %}
    	{% if forloop.first  %}
    		
    		<div class="clear"></div>
    		<div class="column">
    	{% endif %}
    	<div class="winery">
    		<a href="/wineries/{{winery.id}}/">{{ winery.name }}</a>
    	</div>
    	{% if forloop.counter|divisibleby:10  %}
    		</div>
    		<div class="clear"></div>
    		<div class="column">
    	{% endif %}
    	
    {% endfor %}
		<!--Creates a table of winery names
		<table class="center">	
		{% for winery in varietal.winery_set.all %}
			<tr>
			<td><a href="/wineries/{{winery.id}}/">{{ winery.name }}</a></td>
			<td>{{ winery.address1 }}</td>
			<td>{{ winery.address2 }}</td>
			<td>{{ winery.city }}</td>
			<td>{{ winery.state }}</td>
			<td>{{ winery.zip }}</td>
			</tr>
		{% endfor %}
		</table>-->
	

{% else %}
    <p>We don't have any wineries listed as good for that varietal.</p>
{% endif %}
{% endblock %}
</div>
</body>