{% extends "wineries/base.html" %}
<head>
{% block title %}For The Vin - Winery Details{% endblock %}
{% block addheadinfo %}	
<style type="text/css">

ul, ol { 
	list-style-type: none; 
	padding-left: 0; 
	margin-left: 0
	}
a, a:link {
	color:black
	}
	a:link {
	text-align:left;
	text-decoration:none
	}
	a:hover {
	color:#FF1493
	}
#varietalname {
	font-weight: bold;
	margin-top: 20px;
}
#otherwineries {
	width: 80%;
	line-height: 150%
}
</style>
{% endblock %}
</head>
	
<body>	
{% block content %}
<div class="pagecontent">
	<div class="pagetitle">
		<h1>{{ winery.name }}</h1>
		<h3><ol>
			<li><a href="{{ winery.address1 }}" target = "_blank">Click Here To Go To Their Website</a></li>
			<li>{{ winery.address2 }}</li>
			<li>{{ winery.city }}</li>
			<li>{{ winery.state }}</li>
			<li>{{ winery.zip }}</li>
		</ol></h3>
	</div>
	<!--<h2>Wines</h2>
	<ul>
	{% for wine in winery.wines.all %}
	<li>{{ wine }}</li>
	{% endfor %}
	</ul>-->
	<div id="otherwineries"><h2>{{ winery.name }} is Good for The Following Varietals:</h2>
	<ul>		
	{% for varietal in winery.varietals.all %}
		<li><div id="varietalname">
				<a href="/varietals/{{ varietal.id }}/">{{ varietal.name }}</a>
    		</div><br>This varietal is also at:<br> 
		{% for w in varietal.winery_set.all|slice:":4" %}
			<span><a href="/wineries/{{ w.id }}/">{{ w.name }}</a>{% if not forloop.last %},{% endif %}</span>
		{% endfor %}
			<a href="/varietals/{{ varietal.id }}/">... see more.</a>
		</li>
	{% endfor %}
	</ul>
	</div>
{% endblock %}
</div>
</div>


</body>