{% extends "wineries/base.html" %}
<head>
{% block title %}For The Vin - List of Wineries{% endblock %}
{% block addheadinfo %}	
<style type="text/css">

.pagetitle {
	margin-bottom: 40px;
}
.columncontainer {
	float: left;
	width: 100%;
	background-color: #E0E0E0;
	margin-bottom: 1.5em;
}
.column {
	float:left; 
	width:30%;
	/*min-height: 295px;*/
	margin-right: 2%;
	padding: 0.5%;
}

</style>

{% endblock %}
</head>
	
<body>	


{% block content %}
<div class="pagecontent">
	<div class="titlecontainer">
		<div id = "title">
		<h1>Wineries</h1>
		<h3>Click Winery Name For Details</h3></div>
	</div>


{% if wineries_list %}

    {% for winery in wineries_list %}
    	{% if forloop.first  %}
    		<div class = "columncontainer">
    		<div class="column">
    	{% endif %}
	    	<div class="winery">
	    		<a href="/wineries/{{ winery.slug }}/">{{ winery.name }}</a>
	    	</div>
    	{% if forloop.counter|divisibleby:10  %}
    		</div><!-- close the column div -->
    	{% if forloop.counter|divisibleby:30 %}
    	</div><!-- close the columncontainer div -->	
    	<div class = "columncontainer">
    	{% endif %} 		
    	<div class="column">
    	{% endif %}    	
    {% endfor %}

{% else %}
    <p>No wineries are available.</p>

{% endif %}
</div>
</div>

</div>

{% endblock %}
</body>
	
